<div id="bio">

  <div>
    <h3 style="margin:2px 0 4px;">
      ncb0.work
    </h3>
    <p>
      I’m Mel M. (she/her)—a Canadian artist, graphic designer, and type designer. This site hosts my portfolio and personal blog. <a class="invisible" href="{{ site.baseurl }}/about.html">About</a>
    </p>
    <!-- <p>
      <em>“ncb0” may be pronounced either as “N-C-B-O” or “nekobo.”</em>
    </p> -->
  </div>

  <div>
    <h6>Elsewhere:</h6>
    <ul class="links">
      <li><a target="_blank" href="http://twitter.com/ncb0_">Twitter</a></li>
      <li><a target="_blank" href="https://www.pixiv.net/en/users/63526507">Pixiv</a></li>
      <li><a target="_blank" href="http://piraba.net">Piraba</a></li>
      <li><a target="_blank" href="http://sbintl.cc">SB Int’l</a></li>
      <li><a target="_blank" href="http://conejobeat.com">ConejoBeat</a></li>
    </ul>
  </div>

  <div>
    <h6>Contact me:</h6>
    <ul class="links">
      <li><a class="external2" href="mailto:mel@ncb0.work">mel@ncb0.work</a> <em>(general)</em></li>
      <li><a class="external2" href="mailto:sb@sbintl.cc">sb@sbintl.cc</a> <em>(font licensing)</em></li>
      <li>nezu#8000 <em>(Discord)</em></li>
    </ul>
  </div>

  <!-- <div>
    <h3 style="margin-bottom:24px;"><a href="{{ site.baseurl }}/commissions.html">Commission me&rarr;</a></h3>
  </div> -->
  
</div>