<div id="bio">

  <div>
    <h3>
      ncb0.work
    </h3>
    <p>
      I’m Mel Marshall (she/her)—an artist, graphic designer, and type designer in Toronto. This site hosts my portfolio and personal blog.
    </p>
    <!-- <p>
      <em>“ncb0” may be pronounced either as “N-C-B-O” or “nekobo.”</em>
    </p> -->
  </div>

  <div>
    <h6>Elsewhere:</h6>
    <ul>
      <li><a target="_blank" href="http://twitter.com/ncb0_">twitter.com/ncb0_</a></li>
      <li><a target="_blank" href="http://are.na/ncb-0">are.na/ncb-0</a></li>
      <li><a target="_blank" href="http://piraba.net">piraba.net</a></li>
      <li><a target="_blank" href="http://sbintl.cc">sbintl.cc</a></li>
      <li><a target="_blank" href="http://conejobeat.com">conejobeat.com</a></li>
    </ul>
  </div>

  <div>
    <h6>Contact me:</h6>
    <ul>
      <li><a class="external2" href="mailto:mel@ncb0.work">mel@ncb0.work</a> <em>(work e-mail)</em></li>
      <li><a class="external2" href="mailto:sb@sbintl.cc">sb@sbintl.cc</a> <em>(font licensing)</em></li>
      <li>ncb0#0408 <em>(Discord)</em></li>
    </ul>

  </div>
  
</div>