@font-face {
  font-family: "PicoA";
  src: url("/fonts/PicoA-Hairline.woff2") format("woff2"), url("/fonts/PicoA-Hairline.woff") format("woff"), url("/fonts/PicoA-Hairline.ttf") format("truetype");
  font-weight: 100;
}
@font-face {
  font-family: "PicoA";
  src: url("/fonts/PicoA-Extralight.woff2") format("woff2"), url("/fonts/PicoA-Extralight.woff") format("woff"), url("/fonts/PicoA-Extralight.ttf") format("truetype");
  font-weight: 200;
}
@font-face {
  font-family: "PicoA";
  src: url("/fonts/PicoA-Light.woff2") format("woff2"), url("/fonts/PicoA-Light.woff") format("woff"), url("/fonts/PicoA-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "PicoA";
  src: url("/fonts/PicoA-Semilight.woff2") format("woff2"), url("/fonts/PicoA-Semilight.woff") format("woff"), url("/fonts/PicoA-Semilight.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "PicoA";
  src: url("/fonts/PicoA-Book.woff2") format("woff2"), url("/fonts/PicoA-Book.woff") format("woff"), url("/fonts/PicoA-Book.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "PicoA";
  src: url("/fonts/PicoA-Regular.woff2") format("woff2"), url("/fonts/PicoA-Regular.woff") format("woff"), url("/fonts/PicoA-Regular.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "PicoA";
  src: url("/fonts/PicoA-Medium.woff2") format("woff2"), url("/fonts/PicoA-Medium.woff") format("woff"), url("/fonts/PicoA-Medium.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "PicoA";
  src: url("/fonts/PicoA-Bold.woff2") format("woff2"), url("/fonts/PicoA-Bold.woff") format("woff"), url("/fonts/PicoA-Bold.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "PicoA";
  src: url("/fonts/PicoA-Black.woff2") format("woff2"), url("/fonts/PicoA-Black.woff") format("woff"), url("/fonts/PicoA-Black.ttf") format("truetype");
  font-weight: 900;
}
