@use "sass.color";
// variables
$lt: #fff;
$dk: #332;
$ac: #d20;
// $bl: #69f;
$bl: #781;
$pico: "PicoA", "Helvetica Neue", Helvetica, Arial, system-ui, sans-serif;
// animations
@keyframes blink {
  0%, 100% {
    // opacity: 1;
    color: rgba($dk,1.0);
  }
  50% {
    // opacity: 0;
    color: rgba($dk,0.0);
  }
}
// universal
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $pico;
  z-index: 10;
}
*::selection {
  background: rgba($dk,0.15);
}
::webkit-scrollbar {
  display: none;
}
// body
body {
  // max-width: 500px;
  padding: 3px 8px;
  background: $lt;
  // background: url("/assets/bg/lblue047.gif");
  color: $dk;
  // font-feature-settings: "ss02";
}
#grid {
  display: grid;
  grid-template-columns: 250px 250px 1fr;
  // grid-template-columns: 1fr;
  grid-gap: 12px;
}
// images
img, video {
  width: 100%;
  height: auto;
  // margin-bottom: 10px;
  margin-top: 5px;
  // border-radius: 5px;
  // box-shadow: 0 4px 4px rgba($dk,0.2);
}
video {
  border: 1px solid rgba($dk,0.2);
}
iframe {
  margin: 5px 0;
}
.img2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4px;
  justify-content: center;
  // margin-top: 5px;
  margin-bottom: 2px;
}
.img3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4px;
  justify-content: center;
  // margin-top: 5px;
  margin-bottom: 2px;
}
.img4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 4px;
  justify-content: center;
  // margin-top: 5px;
  margin-bottom: 2px;
}
// figure {
//   background: $dk;
//   color: $lt;
// }
figure.float {
  max-width: 300px;
  // margin-bottom: 0;
}
img.emoji {
  display: inline;
  height: 16px;
  width: auto;
}
// img.float {
//   // width: auto;
//   max-width: 300px;
//   height: auto;
// }
.float.left {
  float: left;
  margin-right: 10px;
}
.float.right {
  float: right;
  margin-left: 10px;
}
// type
em {
  color: $ac;
  font-style: normal;
}
h1 em, h2 em, h3 em {
  font-weight: 400;
}
hr {
  border: 0;
  border-top: 8px solid rgba($dk,1.0);
  margin-top: 10px;
  margin-bottom: 40px;
  clear: both;
  width: 20px;
}
h1 {
  font: 700 72px/64px $pico;
  letter-spacing: -1.5px;
  // margin-bottom: 8px;
  transform: translateX(-3px);
}
h2 {
  font: 700 48px/42px $pico;
  letter-spacing: -0.45px;
  margin-bottom: 4px;
  transform: translateX(-1.5px);
}
h3 {
  font: 700 24px/18px $pico;
  margin-bottom: 0;
  transform: translateX(-0.2px);
}
// h4 {
//   font: 600 14px/16px $pico;
//   letter-spacing: 0.5 px;
//   // margin-bottom: 6px;
// }
h5, figcaption {
  font: 400 12px/14px $pico;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
p + h5 {
  margin-top: -10px;
  // color: red;
  // margin-bottom: 10px;
}
.img2 + h5 {
  margin-top: 2px;
}
p, ul, h6 {
  font: 400 14px/16px $pico;
  letter-spacing: 0.4px;
  margin-bottom: 6px;
}
// organization
h6 + ul {
  margin-top: -6px;
}
ul {
  // color: $dk;
  list-style-type: none;
  margin-left: 16px;
}
ul li:before {
  // color: $dk;
  content: '\2192';
  position: absolute;
  margin-left: -18px;
}
// ul.links {
//   color: $bl;
// }
// ul.links li:before {
//   color: $bl;
// }
// posts
.post {
  margin-bottom: 4px;
}
.post p {
  margin-bottom: 0;
}
// .post-bg {
//   position: fixed;
//   top: 0; left: 0;
//   width: 100vw;
//   height: 100vh;
//   z-index: 0;
//   background: #eee;
// }
.post-full {
  // background: #fff;
  max-width: 700px;
  // margin: 0 0 36px;
  margin: 0 auto 36px;
  hyphens: auto;
  z-index: 10;
  // text-align: justify;
  // text-justify: auto;
}
.post-full p,
.post-full ul,
.post-full h6 {
  font: 400 15px/18px $pico;
  letter-spacing: 0.4px;
  margin-bottom: 6px;
  // color: red;
}
h4 {
  font: 600 18px/20px $pico;
  letter-spacing: 0.4px;
  margin-bottom: 6px;
} 
.post-content {
  padding-left: 12px;
  // border-left: 1px solid rgba($dk,0.4);
}
#back {
  z-index: 4;
  position: fixed;
  top: 0px;
  left: 7px;
  border: none;
}
#back a, .hide a, .hide2 a {
  color: $dk;
  border: none;
}
#back a::after,
.hide a::after {
  content: "";
}
#back a:hover,
.hide a:hover,
.hide2 a:hover {
  background: none;
  // color: rgba($dk,0.4);
  color: $bl;
  border: none;
}
// links
audio {
  margin-bottom: 10px;
}

a {
  color: $bl;
  text-decoration: none;
}
.post-full a {
  // background: rgba($dk,0.15);
  border: 1px dotted $bl;
}
a:hover {
  background: $bl;
  color: $lt;
}
.invisible {
  border: 0;
  color: $lt;
}
.invisible:hover {
  background: 0;
}
// media
.hide {
  display: none;
}
.hide2 {
  display: none;
}
@media (max-width:600px) {
  * {
    clear: both;
    float: none;
  }
  .img2, .img3, .img4 {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 5px;
    // grid-gap: 5px;
  }
  figure.float {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width:797px) {
  #back {
    display: none;
  }
  #grid {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
  // .hide2 {
  //   display: inline;
  // }
}
@media (max-width:825px) {
  // #back {
  //   display: none;
  // }
  // .hide {
  //   display: inline;
  // }
}